body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Black Ops One";
}

h1 {
    /* font-family: "Black Ops One"; */
    text-align: center;
    font-size: 75px;
    /* font-size: xxx-large; */
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} */

/*NAV BAR*/
/* li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ff0000;
} */
/*NAV BAR END*/


/*  -------------- BEGIN -------------- ADJUSTED NAV BAR -------------- BEGIN --------------   */

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    display: flex;
}

/* Navigation links */
.navbar a {
    float: left;
    /* padding: 12px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 100%;

    display: flex;
    /* border-bottom: 5px solid gray; */
    align-items: center;
    /* align-content: center; */
    justify-content: space-evenly;

    text-align: center;
    transition: 0.5s;

}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: black;
    font-weight: 700;
    border-bottom: 5px solid green;
}

/*  -------------- END -------------- ADJUSTED NAV BAR -------------- END --------------   */





/*  -------------- BEGIN -------------- POPUP -------------- BEGIN --------------   */

.popup .overlay1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 200, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .overlay2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(200, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    background-color: black;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .popupHeadingW {

    color: green;
}

.popup .popupHeadingL {

    color: red;
}

.popup .popupHeading {
    /* width: 100%; */
    /* background-color: orange; */
}

.popup .closeBtn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay1 {
    display: block;
}

.popup.active .overlay2 {
    display: block;
}

.popup.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/*  -------------- END -------------- POPUP -------------- END --------------   */






/*  -------------- BEGIN -------------- Set the structure of the webpage -------------- BEGIN --------------   */
.Container {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

/*  -------------- END -------------- Set the structure of the webpage -------------- END --------------   */




/*  -------------- BEGIN -------------- SPRITE -------------- BEGIN --------------   */
.SpriteDIV {
    width: 172px;
    height: 128px;
    background-color: red;
    overflow: hidden;
}

.spriteIMG {
    width: 512px;
    height: 512px;
}

/*  -------------- END -------------- SPRITE -------------- END --------------   */




/*PLAYER BUTTON START*/
.playerbutton {

    padding-top: 15px;
    text-align: center;
}

.playeronebutton {
    font-family: "Black Ops One";
}

.playeronebutton:hover {
    background-color: #ff0000;

}

.playertwobutton {
    font-family: "Black Ops One";
}

.playertwobutton:hover {
    background-color: #467eff;

}

/*PLAYER BUTTON END*/

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    /* Add border to the table */

    /* ALT Background */
    border: 5px solid green;
    background-color: black;

}

th,
td {
    border: 1px solid black;
    /* Add border to table cells */
    padding: 20px;
    text-align: center;

    /* ALT Background */
    border: 5px solid green;
    /* background-color: ; */

}

th {
    background-color: #f2f2f2;
}

.gamebuttons {

    /* border: 1px solid blue; */
    font-family: "Black Ops One";
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: black;
    text-align: center;
    font-size: 30px;
    /* font-weight: bold; */

    cursor: pointer;

    /* ALT Background */
    /* border: 1px solid green; */
    border: none;
    color: green;
    /* background-color: ; */
}

.gamebuttons:hover {
    opacity: 0.5;
}